* {
	margin:0;
	padding:0;
}
#rotator {
	height:218px;
	width:540px;
	cursor:pointer;
	overflow:hidden;
	position:relative;
}
#rotator img {
	border:0;
	cursor:pointer;
	height:218px;
	width:540px;
}
p {
	text-align:center;
}
