/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus {color:#000;}
a:hover {color:#555;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#header a#logo {background:url("img/logo/black.png") no-repeat 0 50%;}
#header nav li.active a, #header nav li a:hover {border-color:#131313; background:#2b2b2b; color:#fff !important;} 
#header nav li.active a span, #header nav li a:hover span {border-top:1px solid #2b2b2b;}

/*******************************************************************************************************************
*  INTRO                                                                                                          
*******************************************************************************************************************/
#intro {color:#fff; background-color:#2b2b2b;}

/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
a.button {border:1px solid #1d1d1d; background:#2b2b2b; color:#fff;}
a.button span {border-top:1px solid #525252;}

/*******************************************************************************************************************
*  CSS3                                                                                                    
*******************************************************************************************************************/
#header nav li.active a, #header nav li a:hover, #intro, a.button {
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #131313)); 
    background-image:-webkit-linear-gradient(top, #2b2b2b, #131313); 
    background-image:-moz-linear-gradient(top, #2b2b2b, #131313); 
    background-image:-ms-linear-gradient(top, #2b2b2b, #131313); 
    background-image:-o-linear-gradient(top, #2b2b2b, #131313); 
    background-image:linear-gradient(top, #2b2b2b, #131313); 
}