/*******************************************************************************************************************
*  LINKS                                                                                                           
*******************************************************************************************************************/
a, a:link, a:focus {color:#ff9900;}
a:hover {color:#000;}

/*******************************************************************************************************************
*  HEADER                                                                                                          
*******************************************************************************************************************/
#header a#logo {background:url("img/logo/orange.png") no-repeat 0 50%;}
#header nav li.active a, #header nav li a:hover {border-color:#ff7100; background:#ffc200; color:#fff !important;} 
#header nav li.active a span, #header nav li a:hover span {border-top:1px solid #ffc200;}

/*******************************************************************************************************************
*  INTRO                                                                                                          
*******************************************************************************************************************/
#intro {color:#fff; background-color:#ffc200;}

/*******************************************************************************************************************
*  OTHER STYLES                                                                                                    
*******************************************************************************************************************/
a.button {border:1px solid #ff9900; background:#ffc200; color:#fff;}
a.button span {border-top:1px solid #ffff00;}

/*******************************************************************************************************************
*  CSS3                                                                                                    
*******************************************************************************************************************/
#header nav li.active a, #header nav li a:hover, #intro, a.button {
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc200), color-stop(100%, #ff7100)); 
    background-image:-webkit-linear-gradient(top, #ffc200, #ff7100); 
    background-image:-moz-linear-gradient(top, #ffc200, #ff7100); 
    background-image:-ms-linear-gradient(top, #ffc200, #ff7100); 
    background-image:-o-linear-gradient(top, #ffc200, #ff7100); 
    background-image:linear-gradient(top, #ffc200, #ff7100); 
}