body {font:normal 75% 'Helvetica Neue', Helvetica, Arial, sans-serif;}

html>body {font-size:12px;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,address,th,td {margin:0; padding:0;}

p,ul,ol,dl,blockquote,address,pre,td,th,label {font-size:1em; line-height:1.5em; margin:1.5em 0;}

p {text-align:justify;}

h1,h2,h3,h4,h5,h6 {font-weight:700;}

h1 {font-size:4em; line-height:0.375em; margin:0 0 0.375em 0;}
h2 {font-size:3em; line-height:0.5em; margin:0.5em 0;}
h3 {font-size:2em; line-height:0.75em; margin:0.75em 0;}
h4 {font-size:1.5em; line-height:1em; margin:1em 0;}
h5 {font-size:1.333em; line-height:1.125em; margin:1.125em 0;}
h6 {font-size:1.167em; line-height:1.286em; margin:1.286em 0;}

.subhead {font-style:oblique; font-weight:400; font-family:Georgia, "Times New Roman", Times, serif;}

blockquote {text-indent:-0.75em; font-family:Georgia, "Times New Roman", Times, serif; font-style:oblique; margin:0; padding:0;}
blockquote p {text-align:left;}

dl dt {font-weight:400;}
dl dd {margin-left:20px; font-style:oblique;}

input[type=text],input[type=password] {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:1em; line-height:1.5em; margin:1.5em 0;}
input[type=submit] {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:1em; line-height:1.5em; margin:1.5em 0;}

/*ul.navmain {font-size:1.167em;}*/

div.article h1.title {font-size:3em; line-height:0.5em; margin:0.5em 0;}
div.article div.meta ul {list-style:none; font-family:Georgia, "Times New Roman", Times, serif; font-style:oblique;}
div.article div.meta ul li {display:inline; margin-right:20px;}

div#twitter_div ul#twitter_update_list li a[style] {font-size:inherit !important;}