
img.floatRight { 

    float: left; 
    margin-left: 200px;
	 margin-top:  -35px;

}
.header_h1{
	color: black;
	font-size: 24px;

	margin-left: 20px;

	margin-top: 0;

	padding-right: 0;
	}
	
.header_p{
	color: black;

	font-size: 14px;

	margin-left: 20px;

	margin-top: 20px;

	padding-right: 0;
	}
#headerBox{
	border-left: 1px solid black;
	margin-left: 100px;
	width: 350px;
	height: 200px;
}
#header {
	height: 242px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
		background-position: 50% top;
}
#contactbox{
	width: 212px;
	float: left;
	margin-top: 15px;
	
	}
	#logoH {float: right;
	background-image: url(images/powerbook.png);
	azimuth: expression(

this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",

this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",

this.src = "images/blank.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),

this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",

this.runtimeStyle.backgroundImage = "none")),this.pngSet=true

);
	background-repeat: no-repeat;
	width: 355px;
	height: 	261px;
	margin-right: 70px;
	margin-top: 0px;
	z-index: 21;
}
#logo {float: left;
	background-image: url(images/logo.png);
	azimuth: expression(

this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",

this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",

this.src = "images/blank.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),

this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",

this.runtimeStyle.backgroundImage = "none")),this.pngSet=true

);
	background-repeat: no-repeat;
	width: 196px;
	height: 	61px;
	margin-left: 50px;
}
#headerBox{
	border-left: 1px solid black;
	margin-left: 100px;
	width: 350px;
	height: 200px;
	margin-top: 20px;
	}

#contentwrapper {
	height: 300px;
	padding-top: 0;
	margin-top: -10px;
}
#servicesbox{
	width: 276px;
	height: 300px;
	float: left;
	border-right:1px dashed gray;
	margin-top: -20px;
	margin-left: -15px;
	padding-right: 15px;
}

.serviceboxB {
	background-image: url(images/serv-box.gif);
	background-repeat: no-repeat;
	width: 156px;
	height: 68px;
	color: gray;
	margin-top: 15px;
	margin-left: 110px;
	padding-left: 12px;
	padding-top: 18px;
}
.serviceboxB a:hover{
	background-image: url(images/serv-boxH.gif);
	background-repeat: no-repeat;
	width: 156px;
	height: 68px;
	color: black;
	margin-top: 245px;
	margin-left: 100px;
	padding-left: 12px;
	padding-top: 18px;
}
#newsbox{
	width: 346px;
	height: 300px;
	float: left;
	border-right:1px dashed gray;
		padding-right: 10px;
padding-left: 8px;
padding-top: 20px;
margin-top: -20px;
}
.newsbox_h1 {
	color: ButtonText;
	font-size: 20px;
	font-size: x-large; 
	text-indent: 10px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
}
.newsbox_p{

color: black;

	font-size: 12px;

	margin-left: 15px;

	margin-top: 35px;

	font-size: 11px;

	padding-bottom: 0;
padding-top: 20px;
	
border-top: 1px dashed gray;
			

}

#contactbox{
	width: 218px;
	float: left;
	margin-top: 0px;
	
	}
	
#servicesbox ul {

	margin-top: -40px;
	margin-left: 15px;

	list-style-type: none;

	padding-top: 12px;

	padding-right: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

}

#servicesbox li {

	padding-top: 3px;

	padding-bottom: 3px;

}

#servicesbox a:link, #servicesbox a:visited {

	text-decoration: none;

	color: #999999;

	display: block;

	border-bottom-width: 1px;

	border-bottom-style: solid;

	border-bottom-color: #444444;

	padding-bottom: 7px;

}

#servicesbox a:hover{

	color: black;

}

#servicesbox .servicesboxItem {

	width:210px;

	float: left;

	padding-right: 45px;

}

.clearfix:after {

    content: "."; 

    display: block; 

    height: 0; 

    clear: both; 

    visibility: hidden;

}
.contactbox_p{ 

	color: black;

	font-size: 12px;

	margin-left: 18px;

	margin-top: 2px;

	font-size: 11px;

	padding-right: 0;
	
}
	
	.contactbox_h1{ 

	color:  ButtonText;
	font-size: 22px;
	margin-left: 15px;
	margin-top: -0px;
	padding-right: 1px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;

}
img.floatLeft { 

    float: left; 

    margin-left: 0;
margin-right: 5px;
	 margin-top:  0px;

}
div#navi ul{

list-style-type:none;

margin-top: 0px;

margin-left: 7px;
margin-right: 140px;


}